.env
*.pyc
*.pyo
*.pyd
*.log
*.swp
*.bak
*.tmp
*.out

.vscode/
__pycache__/
migrations/
.gitignore

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
.next
next-env.d.ts

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

# Optional
# package-lock.json
# yarn.lock
# .npmrc

# Cache
.cache/
.eslintcache

package-lock.json
pnpm-lock.yaml
